body {
  margin: 0;
  background-image: url("../img/Season.gif");
  background-size: cover;
}
.btn {
  cursor: pointer;
}
.container {
  height: 75vh;
}
#search{
  position: absolute;
  top: 25vh;
  left: 10vw;
}
.weather {
  font-size: 7rem;
  color: mintcream;
  position:absolute;
  top:15vh;
  left:35vw;
}
h1 {
  color: #888888;
  font-size: 16px;
}

footer {
  color: #0e0e10;
  font-size: 22px;
  margin: 0;
  position: fixed;
  left: 39vw;
  bottom: 0;
  width: 25%;
  text-align: center;
  background-color: chocolate;
  border-radius: 50px;
}
#data {
  position: relative;
    top: 30vh;
    color: white;
    left: 5vw;
}
#data input {
  height: 5vh;
  width: 50vw;
  border: 1px solid #cccccc;
  font-size: 16px;
}
p {
  display: block;
  font-size: 20px;
  color: white;
}
a {
  text-decoration: none;
  color: #888888;
  text-align: center;
  margin-left: 40vw;
}
#message {
  margin-left: 37vw;
}

.head{
  flex-wrap: nowrap;
  position: fixed;
  top:0;
  left:0;
}

.weather-form{
position: absolute;
top:20vh;
left:30vw;
}
